.quantityInput {
    display: inline-block;
    height: 48px;
    background: white;
    border: 2px solid gray;
    border-radius: 4px;
}

.quantityInput button {
    width: 48px;
    height: 100%;
    border: hidden;
    font-size: 24px;
}

.quantityInput div {
    display: inline-block;
    width: 96px;
    height: 100%;
    text-align: center;
    color: black;
}